@import "theme/variables";
@import "theme/mixins";

/*
  Generale Section
----------------------------------
*/
html, body { font-family: $arabic-font }
h1, h2, h3, h4, h5, h6, span, p, a, label, div, li, input, textarea, tr, td, th, strong {
  font-family: $arabic-font !important;
}

.main-loader-overlay .lds-facebook,
.overflow-section .lds-facebook {
  left: unset;
  right: calc(50% - 40px)
}
.modal-wrapper .modal-dialog {
  -webkit-transform: translate(0,40vh) !important;
  transform: translate(0, 40vh) !important;
}
.product-home {
  &:hover .prd-bottom .social-info {
    color: $primary-color2;
    &:hover { color: $primary-color; }
   }
  @media screen and (min-width: 992px) {
    &:hover {
      .prd-bottom.rtl { right: 0; left: unset !important; }
    }
  }
  .prd-bottom {
    left: unset !important;
    right: -32px;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 5px;
    @media screen and (max-width: 992px) {
      &.rtl { right: 0; left: unset !important; }
    }
  }
}
.contact_form .form-group .form-control {
  font-size: 1rem;
  @include sm-mobile {
    font-size: 0.8rem;
  }
}



/*
  Navbar Section
----------------------------------
*/
.header_area {
  .nav-cart .badge,
  .nav-wishlist .badge {
    top: -5px;
  }
  .top_menu .nav .nav-item.nav-cart .minicart,
  .navbar .nav .nav-item.nav-cart .minicart {
    .li-button {
      font-size: 13px;
    }
    .minicart-total span {
      @include cmq(576px, 767px) { font-size: 15px; }
    }
  }
  .navbar .nav .nav-item .nav-link {
    font-size: 16px;
    @include cmq(576px, 767px) { font-size: 14px; }
  }
  .top_menu ul.navbar-nav li a.nav-link {
    @include cmq(576px, 767px) { font-size: .9rem; }
    @include sm-mobile { font-size: .8rem; }
  }
  .search_input {
    input {
      height: calc(2.25rem + 2px);
    }
  }
}




/*
  Home Page
----------------------------------
*/
.features-area {
  .single-features {
    border-left: 1px solid #eeeeee;
    border-right: unset;
    @include cmq(200px , 992px) {
      border-left: none;
    }
  }
  .col-lg-3:nth-child(4) {
    .single-features {
      border-left: 0;
    }
  }
}
.home-products-section {
  @include cmq(768px , 992px) { padding: 60px 0; }
  @include cmq(576px, 767px) { padding: 40px 0; }
  .section-title {
    h1 {
      font-size: 40px;
      @include cmq(768px , 992px) {
        font-size: 30px;
      }
      @include cmq(576px, 767px) {
        font-size: 25px;
      }
      @include sm-mobile { font-size: 25px; }
    }
    p {
      font-size: 20px;
      @include cmq(768px , 992px) {
        font-size: 20px;
      }
      @include cmq(576px, 767px) {
        font-size: 18px;
      }
      @include sm-mobile { font-size: 16px; }
    }
  }
}
.related-product-area {
  .section-title {
    h2 {
      font-size: 35px;
      @include cmq(768px , 992px) {
        font-size: 27px;
      }
      @include cmq(576px, 767px) {
        font-size: 23px;
      }
      @include sm-mobile { font-size: 25px; }
    }
  }
}
.product-home {
  .price {
    left: 0;
    right: unset;
    transform: rotate(180deg);
    .offer {
      transform: rotate(-180deg);
      left: 0;
    }
    h6 {
      &.origin-price {
        transform: rotate(-180deg);
        top: 11px;
        left: unset;
        right: -1px;
        font-size: 13px;
        @include cmq(576px, 767px) {
          font-size: 13px;
          right: -2px;
        }
        @include sm-mobile {
          font-size: 10px;
          right: -7px;
        }
      }
    }
  }
  .offer-circle {
    left: unset;
    border-radius: 5px 0 0 5px;
  }
  .title {
    h6.rtl {
      font-weight: bold;
      font-size: 18px;
      @include cmq(992px , 1100px) {
        font-size: 16px;
      }
      @include cmq(768px , 992px) {
        font-size: 16px;
      }
      @include cmq(576px, 767px) {
        font-size: 16px;
      }
      @include sm-mobile {
        font-size: 14px;
      }
    }
  }
}





/*
  Footer Section
----------------------------------
*/
.footer-area {
  .single-footer-widget {
    h6 {
      font-size: 23px;
      @include cmq(576px, 767px) { font-size: 20px; }
      @include sm-mobile { font-size: 20px; }
    }
    p {
      //font-family: $arabic-font;
      font-size: 18px;
      @include cmq(576px, 767px) {
        font-size: 16px;
        -webkit-filter: brightness(2);
        -ms-filter: brightness(2);
        filter: brightness(2);
      }
      @include sm-mobile { font-size: 16px;
        -webkit-filter: brightness(2);
        -ms-filter: brightness(2);
        filter: brightness(2);
      }
    }
  }
  h4 {
    @include sm-mobile {
      font-size: 18px;
    }
  }
  .footer-bottom {
    .footer-text {
      font-size: 18px;
      @include sm-mobile {
        font-size: 14px;
      }
    }
  }
}





/*
  breadcrumbs Section
----------------------------------
*/
.cont_breadcrumbs_2 {
  h3 {
    @include cmq(992px, 1600px) {
      font-size: 22px;
    }
  }
  & > ul > li {
    float: right;
    margin-left: unset;
    margin-right: -4px;
    & > a {
      @include cmq(992px, 1600px) {
        font-size: 17px;
        padding: 7px 10px;
      }
      @include cmq(200px, 767px) {
        padding: 4px 11px;
      }
    }
  }
  ul {
    float: right;
  }
}





/*
  Products List Page
----------------------------------
*/
.product-list {
  .sidebar-categories {
    .head {
      font-size: 18px;
    }
    .main-nav-list {
      a {
        font-size: 16px !important;
        @include cmq(768px , 992px) {
          font-size: 14px !important;
        }
        @include sm-mobile {
          font-size: 13px !important;
        }
        .number {
          margin-left: unset;
          margin-right: 10px;
        }
      }
    }
  }
  .sidebar-categories .head,
  .sidebar-filter .top-filter-head {
    font-size: 18px !important;
    @include sm-mobile {
      font-size: 15px !important;
    }
  }
  .sidebar-filter {
    .head { font-size: 16px; }
    .common-filter {
      .filter-list {
        input {
          margin-right: unset;
          margin-left: 10px;
        }
        label {
          font-size: 16px;
          @include cmq(768px , 992px) {
            font-size: 14px;
          }
          @include sm-mobile {
            font-size: 13px !important;
          }
        }
      }
      .price-range-area .value-wrapper div {
        @include cmq(768px , 992px) {
          font-size: 13px;
        }
        @include sm-mobile {
          font-size: 14px;
        }
      }
    }
  }
  .filter-bar .sorting > div label {
    @include sm-mobile {
      font-size: 10px !important;
    }
  }
}





/*
  Product Details Page
----------------------------------
*/
.product_image_area {
  .s_Product_carousel {
    direction: ltr;
  }
  .product_count {
    label {
      font-size: 1.05rem;
      padding-right: unset;
      padding-left: 10px;
    }
    input {
      padding-left: unset;
      padding-right: 10px;
    }
    button {
      right: unset;
      left: 0;
    }
  }

  .s_product_text {
    .list li {
      font-size: 1.05rem;
    }
    .card_area {
      .primary-btn, .icon_btn {
        margin-right: unset;
        margin-left: 10px;
        font-size: 1.05rem;
      }
    }
  }
}
.product_description_area {
  padding-bottom: 60px;
  .tab-content {
    .description {
      font-size: 1.1rem;
    }
  }
  .nav.nav-tabs {
    li {
      margin-right: unset;
      margin-left: 7px;
      a {
        font-size: 1.05rem;
      }
    }
  }
  .review_item {
    .media .media-body h4 {
      font-size: 1.3rem;
      @include sm-mobile {
        font-size: 1.1rem;
      }
    }
  }
  .review_box h4 {
    font-size: 1.3rem;
    @include sm-mobile {
      font-size: 1.2rem !important;
    }
  }
}
.related-products {
  .gradient-head {
    h4.rtl {
      font-size: 1.4rem;
      @include cmq(576px, 767px) {
        font-size: 1.3rem;
      }
      @include sm-mobile {
        font-size: 1.2rem;
      }
    }
  }
}





/*
  Login Page
----------------------------------
*/
.login_form_inner {
  h3 {
    @include cmq(576px, 767px) {
      font-size: 1.2rem;
    }
    @include sm-mobile {
      font-size: 1.1rem;
    }
  }
  .login_form .form-group a,
  .login_form .form-group .primary-btn,
  .btn-facebook-login a {
    @include cmq(576px, 767px) {
      font-size: 1rem;
    }
    @include sm-mobile {
      font-size: .9rem;
    }
  }
}




/*
  Search Section
----------------------------------
*/
.result-section {
  p.empty-result {
    font-size: 1.5rem;
  }
}




/*
  Cart Page
----------------------------------
*/
.shopping-cart-area {
  .alert, .btn-dark {
    font-size: 1.2rem;
    @include cmq(576px, 767px) {
      font-size: 1.2rem;
    }
    @include sm-mobile {
      font-size: 1rem !important;
    }
  }
  .table-content table th,
  .table-content table td {
    &.rtl {
      font-size: 1.1rem;
      @include cmq(576px, 767px) {
        font-size: 1rem;
      }
      @include sm-mobile {
        font-size: .9rem !important;
      }
      .add-cart {
        font-size: 1.1rem;
        @include cmq(576px, 767px) {
          font-size: 1rem;
        }
        @include sm-mobile {
          font-size: .9rem !important;
        }
      }
    }
  }
  .cart-page-total > a {
    @include cmq(576px, 767px) {
      font-size: 1.1rem;
    }
    @include sm-mobile {
      font-size: 1rem !important;
    }
  }
  .cart-page-total > h2.rtl {
    @include cmq(576px, 767px) {
      font-size: 1.5rem;
    }
    @include sm-mobile {
      font-size: 1.4rem;
    }
  }
  .cart-page-total ul > li > span.rtl {
    float: left;
  }
}




/*
  Profile Page
----------------------------------
*/
.account-container {
  .account-header {
    .card-body .account-nav {
      .account-link span {
        font-size: 1.25rem !important;
        @include cmq(768px, 991px) {
          font-size: 1.15rem !important;
        }
        @include cmq(576px, 767px) {
          font-size: 1.05rem !important;
        }
        @include sm-mobile {
          font-size: .9rem !important;
        }
      }
    }
  }
  .card.checkout-area {
    table {
      thead {
        th {
          @include cmq(576px, 767px) { font-size: 1rem !important; }
          @include sm-mobile { font-size: .8rem !important; }
        }
      }
    }
  }
  #change_password {
    .rtl {
      .form-group {
        label {
          font-size: 19px;
          @include cmq(576px, 767px) {
            font-size: 17px !important;
          }
          @include sm-mobile {
            font-size: 0.9rem !important;
          }
        }
      }
      input[type=submit] {
        font-size: 19px;
        @include cmq(576px, 767px) {
          font-size: 17px;
        }
        @include sm-mobile {
          font-size: 0.9rem !important;
        }
      }
    }
  }
}
.custom-file {
  width: 100%;
  .custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
  }
  .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 3;
      display: block;
      height: 2.25rem;
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      color: #495057;
      content: "Browse";
      background-color: #e9ecef;
      //border-left: 1px solid #ced4da;
      border-radius: 0.25rem 0 0 0.25rem;
    }
  }
}
.edit-profile {
  &.rtl {
    label {
      @include cmq(576px, 767px) {
        font-size: 0.9rem !important;
      }
      @include sm-mobile {
        font-size: 0.85rem !important;
      }
    }
    input {
      @include cmq(576px, 767px) {
        font-size: 0.9rem !important;
      }
      @include sm-mobile {
        font-size: 0.9rem !important;
      }
      &.btn-block {
        @include cmq(576px, 767px) {
          font-size: 1rem !important;
        }
      }
    }
  }
}
